# 1. Ambiente Virtual
# Ignora a pasta do ambiente virtual inteira
venv/
.venv/

# 2. Banco de Dados
# Ignora o arquivo do banco de dados local
db.sqlite3

# 3. Python & Django
# Arquivos de cache e "compilados" do Python
__pycache__/
*.pyc

# Arquivos de configuração de "segredos"
# NUNCA envie sua SECRET_KEY ou senhas para o GitHub!
.env
local_settings.py

# 4. Arquivos de IDEs e Editores
# VS Code
.vscode/
# PyCharm
.idea/

# 5. Arquivos de Sistema Operacional
# macOS
.DS_Store
# Windows
Thumbs.db